#nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    padding-right: 2em;
    padding-left: 2em;
    z-index: 1;
    opacity: 0.90;

}

#nav-bar .logo {
    margin-right: 10px;
    float: left;
    width: 80px;
    height: 80px;
}

#nav-bar .header {
    float: left;
    font-size: 2em;
    line-height: 80px;
    color: #e8fdff;
}

#compose_button {
  position: relative;
  float: right;
  cursor: pointer;
  margin-top: 0.6em;
  padding: 10px;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: white;
}

#compose_button:hover {
  color: #00a087;
}
